<button (click)="goBack()">Back</button>
&nbsp;
&nbsp;
&nbsp;
<br>
<br>


<div class="report-container">
	<div class="report-header">
		<h1 class="recent-Articles">Appointment History</h1>
	</div>

	<div class="report-body">
		<div class="report-topic-heading">

			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Patient Name</th>
						<th scope="col">Doctor Name</th>
						<th scope="col">Date</th>
						<th scope="col">Time</th>
						<th scope="col">Status</th>

					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let appointment of appointments">
						<th scope="row">{{ appointment.patientName }}</th>
						<td>{{ appointment.doctorName }}</td>
						<td>{{ appointment.date }}</td>
						<td>{{ appointment.time }}</td>
						<td><button class="created">
								<h6>{{ appointment.status }}</h6>
							</button></td>
						<td><button type="button" (click)="cancelAppointment(appointment.id)">
								<h6>Cancel Appointment</h6>
							</button></td>

					</tr>
				</tbody>
			</table>
		</div>


	</div>
</div>