<!--Important link source from https://bbbootstrap.com/snippets/orange-themed-footer-newsletter-subscription-12406445-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid mx-auto">
	<div class="row justify-content-center mt-4 row-1">
		<div class="col-md-2"> <img class="img-1" src="https://i.imgur.com/jBlQcMI.png"> </div>
	</div>
	<div class="row d-flex justify-content-between row-2">
		<div class="block-item">
			<div class="fa fa-envelope"></div>
			<div class="sub-head">Newsletter</div>
			<p class="desc">5,00,000 People have already subscribed special newsletter</p>
		</div>
		<div class="block-item">
			<div class="fa fa-eye"></div>
			<div class="sub-head">Page Views</div>
			<p class="desc">1 Billion Page views we receive every year</p>
		</div>
		<div class="block-item">
			<div class="fa fa-fire"></div>
			<div class="sub-head">Ranking</div>
			<p class="desc">Top 200+ We are among top 200 sites in US</p>
		</div>
		<div class="block-item">
			<div class="fa fa-home"></div>
			<div class="sub-head">Partners</div>
			<p class="desc">Top 20 Partners who are promoting their Services</p>
		</div>
	</div>
	<div class="row d-flex pb-4 px-4">
		<div class="col-md-8">
			<div class="row d-flex justify-content-between">
				<div class="d-flex flex-column block-footer">
					<h5 class="footer-headings">About</h5>
					<p class="list-items">About Us</p>
					<p class="list-items">Advertising Opportunities</p>
					<p class="list-items">Contact Us</p>
					<p class="list-items">Work With Us</p>
					<p class="list-items">Blog</p>
				</div>
				<div class="d-flex flex-column block-footer">
					<h5 class="footer-headings">Offices</h5>
					<p class="list-items">Kansas City</p>
					<p class="list-items">Dallas</p>
					<p class="list-items">New York</p>
					<p class="list-items">seattle</p>
					<p class="list-items">Los Angeles</p>
					
				</div>
				<div class="d-flex flex-column block-footer">
					<h5 class="footer-headings">Privacy & Security</h5>
					<p class="list-items">Pledge to Donors</p>
					<p class="list-items">Privacy Policy</p>
					<p class="list-items">Social Media Policy</p>
					<p class="list-items">Copyright Notice</p>
				</div>
				<div class="d-flex flex-column block-footer">
					<h5 class="footer-headings">Need Help?</h5>
					<p class="list-items">Getting Started</p>
					<p class="list-items">Contact Us</p>
					<p class="list-items">FAQ's</p>
					<p class="list-items">Press</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="d-flex flex-column pl-md-5 px-4">
				<h5 class="footer-headings pl-md-2">Download App</h5>
				<div class="g-play pb-5 border-left"> <img class="img-g" src="https://i.imgur.com/9Txjm5w.png"> </div>
				<div class="d-flex flex-column pl-md-2 border-left pb-3">
					<h5 class="footer-headings mb-3">Follow Us</h5>
					<div class="row d-flex pl-2">
						<div class="fa fa-sm fa-facebook"></div>
						<div class="fa fa-sm fa-twitter"></div>
						<div class="fa fa-sm fa-google-plus"></div>
						<div class="fa fa-sm fa-pinterest"></div>
						<div class="fa fa-sm fa-linkedin"></div>
						<div class="fa fa-sm fa-youtube-play"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>